Base:
1. The app is called Logday and not LogDay. Maintain the case sensitivity in code and communication.
2. If asked to change any existing features, do so.
3. If asked to change any UI in existing features, do so.
4. If asked to add any new features, do so.
5. If asked to remove any features, do so.
6. If asked to remove any UI in existing features, do so.

UI:
1. Use Tailwind CSS for styling.
2. Use Phosphor icons for icons.
3. Use Unsplash for stock photos.
4. While building new features, don't change any UI in existing features.
5. Don't change any existing features while building new features unless explicitly asked.
6. For all designs I ask you to make, have them be beautiful as an experienced product designer would, not cookie cutter. Make webpages that are fully featured and worthy for production.
7. Every new UI should be mobile-first and tested at 375px width.
8. Make sure you dont style components differently, check other pages and components for styling.

Security:
1. All sensitive routes must check for user_id match via RLS or server-side validation.
2. Make sure to use best security practices while writing middle-layer services
3. Never expose direct table names or internal IDs in the frontend.
4. Never expose sensitive data in the frontend.


Others:
1. By default, this template supports JSX syntax with Tailwind CSS classes, React hooks, and Lucide React for icons. Do not install other packages for UI themes, icons, etc unless absolutely necessary or I request them.
2. My competitors are Strong, Hevy, Strava and similar workout apps use them as benchmark.


